@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.timer-control {
    border: toRem(1) solid $black;
    padding: toRem(16);
    height: toRem(150);
    .gap {
        margin-right: toRem(16);
    }
}
