<div class="timer-layout">
    <div class="row">
        <div class="col-md-4 mb-2 col-sm-12 col-12">
            <app-timer-display></app-timer-display>
        </div>
        <div class="col-md-8 mb-2 col-sm-12 col-12">
            <app-timer-control></app-timer-control>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-2 col-sm-12 col-12">
            <app-timer-stamps></app-timer-stamps>
        </div>
        <div class="col-md-8 mb-2 col-sm-12 col-12">
            <app-timer-count></app-timer-count>
        </div>
    </div>
</div>