<div class="timer-layout">
    <div class="row">
        <div class="col-md-4 mb-2 col-sm-12 col-12">
            <app-timer-input-display [lastTimer]="lastTimer" (currentTime)="setCurrentTime($event)"></app-timer-input-display>
        </div>
        <div class="col-md-8 mb-2 col-sm-12 col-12">
            <app-timer-input-control [currentTime]="currentTime" (timerEvent)="listenTimer($event)"></app-timer-input-control>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-2 col-sm-12 col-12">
            <app-timer-input-stamps [stamps]="timers"></app-timer-input-stamps>
        </div>
        <div class="col-md-8 mb-2 col-sm-12 col-12">
            <app-timer-input-count [stamps]="timers"></app-timer-input-count>
        </div>
    </div>
</div>