<div class="container listing">
  <div class="d-flex align-items-center justify-content-end align-sort mb-2 ">
    <div class="icons mr-2">
      <span class="grid d-block" [ngClass]="{ selected: displayType == true }"
        (click)="changeDisplayType('grid')" tabindex="0" aria-label="Grid View"><i class="bi bi-grid"></i></span>
      <span class="list d-block" tabindex="0" [ngClass]="{ selected: displayType == false }"
        (click)="changeDisplayType('list')" aria-label="List View"><i class="bi bi-list"></i></span>
    </div>
    <div class="sort">
      <select (change)="onSortChange($event)">
        <option *ngFor="let price of sortOptions" [value]="price.value">
          {{ price.label }}
        </option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="mb-4 d-flex justify-content-center" [ngClass]="displayType == true ? grid : list"
      *ngFor="let products of products">
      <div class="card product-item justify-content-center align-items-center">
        <div tabindex="0">{{ products.name }}</div>
        <span tabindex="0">${{ products.price }}</span>
      </div>
    </div>
  </div>
</div>