@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.listing {
    .product-item {
        height: toRem(150);
        width: toRem(150);
        border: toRem(1) solid black;
    }

    .icons {
        border: toRem(1) solid black;
        border-radius: toRem(10);
        display: flex;
        justify-content: space-evenly;
        margin-right: toRem(1);
    }

    .grid {
        border-right: toRem(1) solid $black;
        border-radius: toRem(10);
        padding: 0.3rem;
        cursor: pointer;
    }

    .list {
        border-left: toRem(1) solid $black;
        padding: 0.3rem;
        border-radius: toRem(10);
        cursor: pointer;
    }

    .selected {
        background-color: aquamarine;
    }
}
