@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.nested {
    div {
        min-height: toRem(100);
        min-width: toRem(100);
        padding: toRem(30);
        border: toRem(1) solid $black;
    }

    p {
        transform: scale(1);
        transform-origin: center center;
        animation: rotation 5s linear infinite;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
}

@media screen and (max-width: 600px) {
    div {
        min-height: toRem(40) !important;
        min-width: toRem(40) !important;
        padding: toRem(10) !important;
    }

    p {
        font-size: 12px !important;
    }
}
