.nested {
    div {
        min-height: 100px;
        min-width: 100px;
        padding: 30px;
        border: 1px solid black;
    }

    p {
        transform: scale(1);
        transform-origin: center center;
        animation: rotation 5s linear infinite;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
}