<div>
    <ul class="d-flex align-items-center flex-row justify-content-evenly">
        <li class="d-flex align-items-center flex-column justify-content-center">
            <span class="d-block fw-bold">{{ start }}</span>
            <span class="d-block fw-bold">Started</span>
        </li>
        <li class="d-flex align-items-center flex-column justify-content-center">
            <span class="d-block fw-bold">{{ pause }}</span>
            <span class="d-block fw-bold">Paused</span>
        </li>
    </ul>
</div>